:root{
  --mainGreen:#52b788;
  --lightBlue:#009ffd;
  --mainwhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainPink: linear-gradient(to right, #da22ff, #9733ee);

  ;
}

body{
  padding: 0;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  background: var(--mainwhite)!important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: Verdana,  Tahoma, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}
.text-purple{
  color:#6411ad;
}
.text-light{
  color: var(--lightBlue);
}
.btn-dark{
  background: transparent !important;
  cursor: pointer;
  color: #232528!important;
  border: 0.5px solid var(--mainDark);
  padding: .2rem;
  text-transform: capitalize;
  font-size: 0.8rem!important;
}


  .tax_total{
    float:right!important;
    margin-left: 15rem!important;

  }
